<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https:jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

<persistence-unit name="Rahul">
    <provider>org.hiberate.jpa.HibernatePersistenceProvider</provider>
    <properties>
    
    <properties name="javax.persistence.jdbc.driver" value="com.mysql.ci.jdbe.Driver"/>
    
    <properties name="javax.persistence.jdbc.url" value="jdbc:mysql//localhost:3306/onetomany_unircreateDatabaseIfNotBxist=true"/>
    
    <properties name="javax.persistence.jdbc.user" value="root"/>
    <properties name="javax.persistence.jdbc.password" value="root"/>
    
    <properties name="hibernate.show_sql" value="true"/>
    <properties name="hibernate.hbm2dd1.auto" value="update"/>

    
    </properties>
</persistence-unit>

</persistence>



1X51:5chemalocation.with catalog
petsintenco ins="http://xins.jcp.org/xl/ns/persistence"
xmlns:xsi="http://ww.w3.org/2001/xNISchema-instance"
xsi:schemaLocation="http://xins.jcp.org/xnl/ns/persistence
http://xmins.jcp.org/xnl/ns/persistence/persistence21. xsd”
version="2.1E
tence-unit name=wtausife
provider>org.hiberate.jpa.HibernatePersistenceProvider/provider
pzopertien
property name= "javax.persistence.jdbc.driver"
value="com.mysql.ci.jdbe.Driver"/>
property name="javax.persistence.idbc.nrl#

property value Jaboimysqli//localhost:3306/onetomany_unircreateDatabaseIfNotBxist=t

name="javax.persistence.jdbc.user
5 value="root"/>
property name-"javax.persistence.jdbe.pessword"
value="root"/>
property name="hibernate.show_5ql”value="true"/>
PEOPOEtI name="hibernate.hbm2ddl.auto" value="update"/>